@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    ClingTo Store<br />
    Kapishtec, Skopje<br />
    <abbr title="Phone">P:</abbr>
    +38978213421
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">support@clingto.com</a><br />
</address>